<a href="https://colab.research.google.com/github/uvajaemiy/python_test/blob/master/Copy_of_%D0%90%D0%BF%D1%80%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D1%83%D1%80%D1%81_2020_Light_Python%2C_%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Домашнее задание 1. Введение в Python.

## Light версия

### Задача 1

С помощью функции input считайте с входящей строки два целых числа и выведите их сумму, разность, произведение.

In [18]:
a = int(input ("введите первое число "))
b = int(input ("введите второе число "))
t = a + b
y = a - b
u = a * b
e = a / b
print ("сложение: ", t,) #или так print ('ответ:, a+b)
print ('вычетание: ', y)
print ('умножение: ', u)
print ('деление: ', e)

введите первое число 789
введите второе число 788
сложение:  1577
вычетание:  1
умножение:  621732
деление:  1.001269035532995

### Задача 2

Дан ряд целых чисел от 10 до 25 включительно. Используя цикл for, выведите на экран сумму двух последовательно идущих чисел.


**Пример**: 

для ряда от 2 до 6 включительно выдача выглядит так: 

5

7

9

11

In [60]:

for i in range(10, 26):
  print(i*2 + 1)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

### Задача 3

Для ряда целых чисел от 100 до 150 включительно выведите на экран только те, что делятся на 5 без остатка.

In [1]:
for i in range (100, 151):
      if i % 5==0:
         print (i)

100
105
110
115
120
125
130
135
140
145
150

### Задача 4

С помощью функции input считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else, выведите на экран результат в зависимости от условий:

* Если N нечетное, то выведите на экран "N нечетное"
* Если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]"
* Если N четное и больше 10, выведите на экран "N четное и N > 10"
* Если N четное и меньше 5, выведите на экран "N четное и N < 5"

### Задача 5

Используя цикл while, посчитайте и выведите на экран сумму всех целых чисел от 15 до 22 включительно.

### Задача 6

Используя цикл for, найдите сумму всех элементов заданного списка (без использования встроенных функций sum, len, sort и т.д.).

In [0]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]

### Задача 7

Используя цикл (любой), найдите значение максимального элемента списка из предыдущего задания (без использования встроенных функций max и т.д.). Можно использовать встроенные методы списков (любые). 

P.S. Не стесняйтесь гуглить :)

P.S. 2 Гуглить нужно фразу "алгоритм поиска максимального элемента массива".

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7.

### Задача 8

Создайте словарь, соответствующий следующему описанию. 
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, не съел ни одной.

P.S. Все совпадения случайны :)

### Задача 9

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. Используйте встроенный метод .update

## Pro-версия

### Задача 1

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами. Рекомендуется использовать циклы (любые) для решения данного задания.

### Задача 2

Выведите на экран следующий паттерн:

1

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

Обратите внимание на пробел между символами. Обратите внимание на пробел между символами. Рекомендуется использовать циклы (любые) для решения данного задания.

### Задача 3

Используя цикл while, выведите на экран таблицу умножения для числа 7.

**Пример:**
    
Для числе 5 выдача выглядит так:
    
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

...

5 * 9 = 45

### Задача 4

Представьте, что вы подбрасываете два кубика одновременно. Считайте с входящей строки два целых числа d1 и d2. Проверьте, соответсуют ли введенные числа интервалу значений для кубика. Если нет, то выведите на экран строку "Ошибка! Значение на кубике (1 или 2, вставьте подходящее значение) не входит в интервал [1, 6]". В противном случае посчитайте сумму выпавших значений. Если сумма равна 7 или 11, выведите на экран "Я победил!!!". Если сумма равна 2, 3 или 12, то выведите на экран "Я проиграл :(". Во всех остальных случаях выведите на экран сумму значений.

### Задача 5

Напишите код, который ищет все числа в интервале от 3000 до 4300 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

### Задача 6

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [0]:
sample_list = ["мандаринки", "киви", "лимон"]

### Задача 7

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [0]:
list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
print(list_for_pro_task_2)

[35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]

### Задача 8

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей. 

P.S. Используйте циклы или функции, прямое "ручное" присваивание не допускается (!!!)

Пример: 

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

In [0]:
print('hello pipl', 123, end = 'aaaa')

hello pipl 123aaaa

In [8]:
print('hello pipl', 123, sep = 'iiiii' )

hello pipliiiii123

In [18]:
name = 'bmw'
print(name, type(name))
age = 5
print(age, type(age))
dvijok = 3
print(dvijok, type(dvijok))
luk_k = False
print(type(luk_k))

bmw <class 'str'>
5 <class 'int'>
3 <class 'int'>
<class 'bool'>